{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <button name="button" id="openSignin">Inscription</button>
    <button name="button" id="openLogin">Connexion</button>
    <button name="button" id="closeLogin">Déconnexion</button>

    <div id="divSignin">
        <form method="post">
            <div>
                <label for="email">Email :</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="prenom">Prénom :</label>
                <input type="text" id="prenom" name="prenom">
            </div>
            <div>
                <label for="nom">Nom :</label>
                <input type="text" id="nom" name="nom">
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" id="passwordS" name="password">
            </div>
            <div class="button">
                <button id="verifSignin" type="button">S'inscrire</button>
            </div>
        </form>
    </div>


    <div id="divLogin">
        <form method="post">
            <div>
                <label for="email">Login :</label>
                <input type="email" id="login" name="email">
            </div>
            <div>
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="button">
                <button id="verifLogin" type="button">Se connecter</button>
            </div>
        </form>
    </div>

    

    <select name="user" id="selUser">
    <option value="0"><i>Historique des messages</i></option>
    </select>
    <button name="button" id="newMessage">Nouveau Message</button>

    <div id="message">
        
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> 
    <script src="js/script.js"> </script>

{% endblock %}


